html{background: #ffffff;}
body {font-family: "微软雅黑";}
h1 {display: none;}
a{text-decoration: none;}
.header-wrap{height: 160px;}
.logo{float: left;}
.nav ,.nav li{float: left;}
header{padding-top: 20px;margin:0 auto;display:block;width: 1000px;height: 150px;}
.nav{margin-top: 60px;}
.nav li{margin-left: 140px;font-size: 20px;}
.nav li a{color: #2a394e;}
.nav li a:hover{color: #ff6765;}
.nav li a.now{color: #ff6765;}
section{margin: 0 auto;margin-top:60px;width: 960px;height: 600px;}
aside{margin-left: 50px;float: left;width: 240px;}
.photo{clear:both;margin-left: 13px;margin-bottom:30px;}
article {float: left;}
article .intro{width: 580px;color:#2a394e; line-height: 30px;font-size: 16px;}
article ul{width: 240px;margin-top: 40px;}
article a{display: block;height: 80px;background-color: #ff6765;color: #ffffff;}
article a:hover{background-color:#ffffff;color: #2a394e;border:1px solid #2a394e;}
h2{padding-top: 5px;text-align: center;}
article a p{margin-left: 3px;}
article li{margin-top: 25px;}
.footer-wrap{background-color: #ff6765;height: 110px;}
footer ul{margin: 0 auto;width: 100px;height: 60px;}
footer li{float: left;}
footer a{width: 40px;height: 40px;display: block;text-indent: -9999px;margin-top: 16px;-webkit-transition: margin 0.5s ease-out;  -moz-transition: margin 0.5s ease-out;  -o-transition: margin 0.5s ease-out;background:url(../images/sns.png) no-repeat;}
footer a:hover{margin-top: 10px;}
.weibo a{background-position: 0px 0px;}
.youxiang a{background-position: -50px 0px;margin-left: 16px;}
footer p{text-align: center;color: #ffffff;font-size: 16px;margin-top: 16px;}

