@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2014-04-16 17:25:20
 * @version $Id$
 */
html, body {background: #f3ecdc; font-family: "微软雅黑";font-size:100% ;color: #5c5a59;overflow: hidden;}
header{margin-top: 40px;}
a{text-decoration: none;}
header h1{display: none;}
.head{background: url(../images/header.jpg) no-repeat;height: 66px;background-size: 241.6px 40.6px;width: 241.6px;margin: 0 auto}
h2{color: #4b2803;font-size: 1.6em;font-weight: normal;width: 54px;margin: 0 auto;}
h2::before ,h2::after{content: '';width: 100px;border: solid 1px #4b2803;position: absolute;top: 130px;}
h2::before{left: 24px;}
h2::after{right: 24px;}
.intr{width: 17em;margin: 0 auto;margin-top: 20px;color: #5c5a59;height: 60px;}
form p{width: 17em;margin: 0 auto;}
form span{font-size: 1.2em;color: #1a0300}
.note{width:16em;height: 2em;margin: 0 0 15px 9px;border-radius: 5px;border: 1px solid #b1b0af }
.choose{width: 17em;margin: 0 auto;padding-left: 60px;}
section{margin-bottom: 4em;}
section a{background: url(../images/denglu.jpg) no-repeat;background-size: 274.6px 35.3px;display: block;width: 275px;height: 37px;margin: 0 auto;margin-top: 40px;}
.check{width: 20px;height: 20px}
footer{position: relative;bottom: 0px;}
footer p{text-align: center;}
footer a{font-size: 1.2em;color: #5c5a59;padding: 20px;}

@media screen and (min-width:640px) { 
	h2::before ,h2::after{width: 100px;}
	h2::before{left: 50px;}
	h2::after{right: 50px;}
 }

 @media screen and (min-width:1024px) { 
	h2::before ,h2::after{width: 300px;}
	h2::before{left: 150px;}
	h2::after{right: 150px;}
 }