@charset "gb2312";
/*
	描述:
*/

/* =s Reset (by YUI 3) */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;display: inline;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
/* =e Reset */

/* =s base */
html,body{height:100%;background:#ebf8fc;}
body{font-family:"Microsoft YaHei",simSun,Arial;line-height:170%;height:1500px;font-size:12px;color:#ebf8fc;}
i{font-style:normal;}
a{color:#000;}
a:hover{color:#F60;}
a.under:link,a.under:active,a.under:visited,a.under:hover{text-decoration:underline;}
/* 浮动 [flt加方向首个字母] */
.fltL{float:left;}
.fltR{float:right;}
.fltN{float:none;}
.setCenter{margin:0 auto;}
/* 显示 */
.show{display:block;}
.hide{display:none;}
/* 间隔距离 [space加高度px] */
.space5,.space10,.space15,.space20,.space25,.space30{display:block;clear:both;overflow:hidden;}
.space5{height:5px;}
.space10{height:10px;}
.space15{height:15px;}
.space20{height:20px;}
.space25{height:25px;}
.space30{height:30px;}
/* clear [clr加值首个字母] */ 
.clrB{clear:both;}
.clrL{clear:left;}
.clrR{clear:right;}
.clrN{clear:none;}
/* =e base */

/* =s Font */
/* 字体重量 [首字母]*/
.b{font-weight:bold;}
.n{font-weight:normal;}
/* 字大小 [f加字像素值] */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
/* 字体位置 [txt加方位首个字母] */
.txtC{text-align:center;}
.txtL{text-align:left;}
.txtR{text-align:right;}
/* 垂直位置 [vera加方位首个字母] */
.veraM{vertical-align:middle;}
.veraT{vertical-align:top;}
.veraB{vertical-align:bottom;}
/* 行距 [l加行距像素值] */
.l16{line-height:16px;}
.l18{line-height:18px;}
.l20{line-height:20px;}
.l22{line-height:22px;}
.l24{line-height:24px;}
.l25{line-height:25px;}
/* 字缩进 [ti加缩进字数] */
.ti0{text-indent:0;}
.ti2{text-indent:2em;}
/* 字颜色 [color加颜色英文] */
.colorWhite{color:#fff;}
.colorBlack{color:#000;}
.colorRed{color:red;}
.colorBlue{color:blue;}
.colorOrange{color:#F30;}
.colorBrown{color:brown;}
.colorGreen{color:green;}
.colorGray{color:gray;}
.colorYellow{color:#FC0;}
/* 链接 [link加颜色英文] */
a.linkWhite:link,a.linkWhite:active,a.linkWhite:visited{color:#fff;}
a.linkWhite:hover{}
a.linkBlack:link,a.linkBlack:active,a.linkBlack:visited{color:#000;}
a.linkBlack:hover{}
a.linkRed:link,a.linkRed:active,a.linkRed:visited{color:red;}
a.linkRed:hover{}
a.linkBlue:link,a.linkBlue:active,a.linkBlue:visited{color:blue;}
a.linkBlue:hover{}
a.linkOrange:link,a.linkOrange:active,a.linkOrange:visited{color:#F30;}
a.linkOrange:hover{}
/* =e Font */


/* =s layout */
/* 顶部导航 */
#NIE-topBar{height:40px;background-color:#fff;}
/* 外套 */
#wrap{overflow: hidden;background:#ededed;max-width: 1920px;min-width: 1000px;_width: expression((document.documentElement.clientWidth>1920||document.body.clientWidth>1920)?"1920px":(document.documentElement.clientWidth<1000||document.body.clientWidth<1000)?"1000px":"100%");margin: 0 auto;overflow: hidden; }
#wrap1{background: url(../images/bottom.jpg) no-repeat center bottom;}
#wrap2{background: url(../images/header.jpg) no-repeat center top;}
.main{margin:0 auto;width: 1000px;}
/* 外套背景图 */

/* 主体 */
h1{display: none;}
.logo{display: block;text-indent: -9999px;height: 150px;width: 280px;margin: 0 auto;}
.nav{top: 76px;position: absolute;height: 25px;}
.nav li{float: left;position: relative;margin-right: 15px;}
.nav li a{display: block;width: 70px;text-indent: -9999px;}
.xinwen{display: block;}
.navleft{margin-left: 305px;}
.zicaidan{position: relative;top: -80px;height: 80px;}
.zicaidan li{float: left;}
.zicaidan a{display: block;text-align: center;font-family: "宋体";font-size: 12px;color: #ffffff;text-decoration: none;}
.zicaidan a:hover{color: #a0e7f6;}
.zicaidan .news{margin-left: 80px;}
.zicaidan .teach{margin-left: 45px;}
.zicaidan .fight{margin-left: 28px;}
.zicaidan .intro{margin-left: 315px;}
.zicaidan .downup{margin-left: 25px;}
.contain{margin-top: 156px;}
.asidenav{background: url(../images/mainbtn.png) no-repeat 0 0;height: 72px;width: 270px;}
h2 a{position: absolute;text-decoration: none;font-family: "微软雅黑";font-size: 25px;padding-left:90px;color:#fff;padding-top: 25px;width: 180px;height: 75px; }
h2 a:hover{color: #fff;}
.aside{width: 270px;float: left;}
.zhuce ,.zhanshi,.longmao{height: 80px;}
h3{display: block;position: absolute;padding-top: 25px;padding-left: 20px;font-size: 18px;font-family: "微软雅黑";color: #0073c3;font-weight: bold;width: 245px;height: 40px;}
.banner{background: url(../images/banner.png) no-repeat;border:1px solid #e9e9e9;border-top: none;height:1040px;}
.tab{margin-left: 25px;}
.tab .tabCon .tabSCon { display:none;clear: both; }
.tab .tabCon .current { display:block; }
.tab .tabs{font-family: "微软雅黑";font-size: 14px;text-align: center;line-height: 30px;}
.tab .tabs li { float:left; cursor:pointer; height: 35px;width: 110px;color: #424343;background: url(../images/asidetab.jpg) no-repeat;margin-right: 1px;}
.tab .tabs li.current { color:#ffffff;background: url(../images/asidetab-hover.jpg) no-repeat;margin-right: 1px;}
.tab .tabs li:hover { color: #ffffff;background: url(../images/asidetab-hover.jpg) no-repeat; }
.tab .tabSCon  a{font-size: 12px;font-family: "宋体";color: #616161;margin-left: 130px;}
form p{margin-top: 8px;}
form p span{width: 60px;display: block;float: left;font-family: "宋体";font-size: 12px;color: #616161;}
.yanzheng{letter-spacing: 4px;}
input{background-color: #7b7b7b;border: none;width: 140px;height: 25px;color: #d7dada;}
.yans{width: 60px;}
.check{width: 15px;}
.agree{position: absolute;font-family: "宋体";font-size: 12px;width: 175px;color: #616161;}
.choose{margin-left: 20px;margin-top: 10px;height: 40px;}
.tab .click1 a{display: block;background: url(../images/spr1.jpg) no-repeat;text-indent: -9999px;height: 35px;width: 98px;margin-left: 55px;margin-top: 5px;}
.tab .click1 a:hover{background: url(../images/spr1.jpg) no-repeat 0px -50px;}
.tab .click2 a{display: block;text-indent: -9999px;background: url(../images/spr1.jpg) no-repeat 0px -100px;height: 40px;width: 160px;margin-left: 25px;margin-top: 15px;}
.tab .click2 a:hover{background: url(../images/spr1.jpg) no-repeat 0px -150px;}
.tab .click3 a{display: block;text-indent: -9999px;background: url(../images/spr1.jpg) no-repeat 0px -200px;margin-left: 25px;margin-top: 5px;width: 160px;height: 40px;}
.tab .click3 a:hover{background: url(../images/spr1.jpg) no-repeat 0px -250px;}
.asidepic p,.bannerpic p{margin-top:5px;margin-left:25px; overflow: hidden; }
.asidepic p{height:64px; }
.asidepic p a{display: block;}
.bannerpic p{height: 85px;}
.article{float: left;}
.articlenav{background: url(../images/mainbtn.png) no-repeat -280px 0px;height: 72px;width: 720px;}
.articlenav h2{display: inline;float: left;font-family: "微软雅黑";font-size: 24px;margin-left: 60px;height:72px;width: 450px;line-height: 70px;color:#0073c3;}
.articlenav h2 span{font-family: Arial;font-size: 12px;color: #7b7b7b;}
.articlenav p a{font-family: "宋体";font-size: 12px;text-decoration: none;color: #2b2b2b;}
.articlenav p a:hover{text-decoration: underline;color: #2b2b2b;}
.articlenav p{font-family: "宋体";font-size: 12px;line-height: 70px;color: #2b2b2b;}
.articlenav p span{color: #006bb6;}
.articlemain{background: url(../images/articlebg.jpg) repeat-y;margin-left: 18px;}
.inner{margin-left: 50px;padding-top: 40px;}
.choosetab{background: url(../images/tab.jpg) no-repeat ;height: 50px;}
.choosetab ul li a{display: block;float: left;font-size: 16px;font-family: "微软雅黑";text-decoration: none;width: 151px;height: 43px;text-align: center;line-height: 40px;color: #343434;}
.choosetab ul li a:hover{background-color: #2c5c7e;color: #f5f7f8;}
.choosetab .current a{background-color: #2c5c7e;color:#f5f7f8;}
.all-download{height: 130px;border-bottom: 1px dotted #aa8b78;}
.all-download p,.peizhi p{font-family: "微软雅黑";font-size: 20px;line-height: 90px;width: 200px;height: 60px;color: #0073c3;}
.all-download a{display: block;width: 122px;margin-left: 5px;text-align: center;background-color: #4b4b4b;text-decoration: none;color: #ffffff;-margin-top: -30px;}
.all-download a:hover{color: #ffffff;}
.all-download .big a{float: left;text-indent: -9999px;background: url(../images/spr2.jpg) no-repeat;height: 69px;width: 180px;margin-top: 30px;}
.all-download .big a:hover{background: url(../images/spr2.jpg) no-repeat 0px -100px;}
.yangshi{float: left;}
.diftitle{font-family: "微软雅黑";font-size: 16px;color: #0073c3;}
.different{float: left;font-family:"宋体";font-size: 12px;color: #616161;margin-top: 40px; width: 240px;}
.yangshi2{float: left;}
.different .small a{float: right;text-indent: -9999px;background: url(../images/spr2.jpg) no-repeat 0px -200px;height: 35px;width: 98px;}
.different .small a:hover{background: url(../images/spr2.jpg) no-repeat 0px -250px;}
.different p{clear: both;margin-bottom: 5px;}
.different p span{font-weight: bold;}
.diff{margin-left: 120px;}
.diffs{clear: both;}
.peizhi{clear: both;}
.peizhi thead td{width: 150px;text-align: center;font-size: 14px;font-family: "微软雅黑";color: #2b2b2b;margin-left: 20px;height: 67px;background-color: #f8f6f5;border: 3px solid #ecebf0;border-bottom: none;}
.peizhi tbody td{width: 150px;text-align: center;font-size: 14px;font-family: "宋体";margin-left: 20px;color: #7b7b7b;height: 44px;background-color: #ffffff;border: 3px solid #ecebf0;border-top: none;}
.set{height: 60px;}
.set p {font-family: "宋体";font-size: 12px;color: #616161;line-height: 60px; width: 250px;float: left;}
.set a{text-indent: -9999px;background: url(../images/spr2.jpg) no-repeat 0px -300px;width: 170px;height: 26px;float: left;margin: 15px;}
.set a:hover{background-position: 0px -350px;}
/* 页脚 */
#footer{text-align:center;clear:both;}
#footer a{color:#000;text-decoration:none;}
#footer a:hover{text-decoration:underline;}
/* nie 底部版权(共3行）*/
#NIE-copyRight{text-align:center;}
#NIE-copyRight .l1{padding-bottom:10px;}
#NIE-copyRight .l2{}
#NIE-copyRight .l3{}
/* 底部代码（隐藏） */
#botCode{display:none;}

/*NIE overlay */
#NIE-overlayer{display:none;position:absolute;width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:0.5;top:0;left:0;z-index:9999; margin:0; padding:0;}
/* =e layout */
#ncp-l1 ,#ncp-l2{margin-left: -10px;color:#323232;}
#ncp-l1 a{color:#323232;}